

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2rem 4rem 0.8rem 4rem;
	gap: 2rem;
	margin-bottom: 4rem;
	color: white;
}

.navbar a span {
	background: linear-gradient(140deg, rgb(127, 198, 179) 0%, rgb(48, 245, 90) 100%);
	background-clip: text;
	color: transparent;
}